@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 30px 75px 0px 85px;
  background: #fafafa;
}

header {
  min-width: calc(100vw - 160px);
  min-height: 110px;
  background: #32656a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  margin-left: 1px;
  min-width: 184px;
  min-height: 56px;
}

header .search-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .search-panel .search {
  margin-left: 76px;
  min-width: calc((100vw - 658px) * 0.85);
  min-height: 56px;
  background: #ffffff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 50.96px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

header .search-panel .search-icon {
  margin-left: -32px;
  width: 54px;
  background: #fdaa4b;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 15px;
  padding-left: 77px;
  min-width: 135px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .icons .personal {
  min-width: 29px;
  min-height: 28.43px;
  background: url(/img/personal.png);
}

header .icons .favorites {
  min-width: 30px;
  min-height: 27.87px;
  background: url(/img/favorites.png);
}

header .icons .truck {
  min-width: 30px;
  min-height: 30px;
  background: url(/img/truck.png);
}

.banners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: calc(100vw - 160px);
  min-height: 450px;
  margin-top: 27px;
}

.banners .slider-wrapper {
  width: calc((100vw - 160px) * 0.75);
  height: 35vw;
}

.banners .slider-wrapper .myslide {
  width: 100%;
  height: 100%;
}

.banners .slider-wrapper .myslide .slider-item-pack-1 img {
  height: 100%;
  width: 100%;
}

.banners .imags {
  width: calc((100vw - 160px) * 0.25);
  min-height: 450px;
  margin-left: 15.6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-category {
  min-width: calc(100vw - 160px);
  min-height: 293px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

.product-category .product-category-name {
  width: 279.88px;
  height: 33px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
}

.product-category .product-category-block-item {
  min-width: calc(100vw - 160px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-category .product-category-block-item .product-category-item {
  margin-top: 60px;
}

.product-category .product-category-block-item .product-category-item .product-category-item-img {
  min-width: 176.61px;
  height: 175px;
  background: #f5f5f5;
  border-radius: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-category .product-category-block-item .product-category-item .product-category-item-img img {
  width: 137.19px;
  height: 145px;
  border-radius: 145px;
}

.product-category .product-category-block-item .product-category-item .product-category-item-text {
  text-align: center;
  margin-top: 15px;
  height: 19px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.catalog {
  margin-top: 109px;
  min-width: calc(100vw - 160px);
  min-height: 493px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog .catalog-name {
  height: 33px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
}

.catalog .catalog-big-block {
  width: calc(100vw - 160px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog .catalog-big-block .catalog-block {
  margin-top: 60px;
  background-color: #fff;
  width: 291.08px;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog .catalog-big-block .catalog-block .catalog-block-little {
  min-width: 242.57px;
}

.catalog .catalog-big-block .catalog-block .catalog-block-little .catalog-block-img {
  margin-top: 20px;
  min-width: 242.57px;
  min-height: 260px;
}

.catalog .catalog-big-block .catalog-block .catalog-block-little .catalog-block-fav {
  width: 121.285px;
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog .catalog-big-block .catalog-block .catalog-block-little .catalog-block-fav img {
  width: 11.15px;
  height: 12px;
}

.catalog .catalog-big-block .catalog-block .catalog-block-little .catalog-block-text {
  margin-top: 11px;
  height: 21px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.catalog .catalog-big-block .catalog-block .catalog-block-little .catalog-block-text p {
  text-overflow: ellipsis;
  width: 239px;
  overflow: hidden;
  white-space: nowrap;
}

.catalog .catalog-big-block .catalog-block .catalog-block-little .catalog-block-price {
  margin-top: 12px;
  width: 68px;
  height: 21px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog .catalog-big-block .catalog-block .catalog-block-little .catalog-block-price .catalog-block-price-min {
  margin-left: 9px;
  width: 51px;
  height: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  text-decoration: line-through;
}

.news {
  margin-top: 60px;
  width: calc(100vw - 160px);
  min-height: 493px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news .news-name {
  width: 156px;
  height: 33px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
}

.news .news-bigblock {
  margin-top: 63px;
  width: calc(100vw - 160px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news .news-bigblock .news-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 405px;
  height: 270px;
}

.news .news-bigblock .news-block .news-block-middle {
  min-width: 33%;
}

.news .news-bigblock .news-block .news-block-middle .news-block-middle-little {
  margin-top: 19px;
  margin-left: 4px;
  width: 124px;
  height: 40px;
  background: #fdaa4b;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news .news-bigblock .news-block .news-block-middle .news-block-middle-little p {
  height: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.news .news-bigblock .news-block .news-block-middle .news-block-middle-content {
  margin-top: 147px;
  width: 375px;
  height: 125px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.45);
}

.news .news-bigblock .news-block .news-block-middle .news-block-middle-content .news-block-middle-content-firstline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news .news-bigblock .news-block .news-block-middle .news-block-middle-content .news-block-middle-content-firstline img {
  margin-top: 22px;
  margin-left: 14px;
  width: 18px;
  height: 18px;
}

.news .news-bigblock .news-block .news-block-middle .news-block-middle-content .news-block-middle-content-firstline p {
  margin-top: 22px;
  margin-left: 7px;
  width: 84px;
  height: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #32656a;
}

.news .news-bigblock .news-block .news-block-middle .news-block-middle-content .news-block-middle-content-secondline {
  margin-top: 12px;
  margin-left: 14px;
  width: 332px;
  height: 21px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.news .news-bigblock .news-block .news-block-middle .news-block-middle-content .news-block-middle-content-thirdline {
  margin-top: 9px;
  margin-left: 14px;
  width: 348px;
  height: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #32656a;
  overflow: hidden;
}

.modal {
  height: 100vh;
  width: 100vw;
  background: rgba(143, 154, 158, 0.9);
  position: absolute;
  z-index: 9999;
  margin-left: -85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  -webkit-transform: translate(0px, -110%);
          transform: translate(0px, -110%);
}

.modal .modal-text {
  margin-top: 110px;
  background-color: white;
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefe7), color-stop(50%, #bce8ea));
  background: linear-gradient(90deg, #efefe7 50%, #bce8ea 50%);
  position: relative;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal .modal-text .modal-text-login {
  padding: 10px 0px 10px 0px;
  border-left: 10px solid #a6d8cb;
  border-bottom: 2px solid #a6d8cb;
  margin-bottom: 5px;
}

.modal .modal-text .modal-text-login-field {
  background: white;
  margin: 0;
  padding: 5px 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  color: #7a7b82;
  line-height: 1.5;
}

.modal .modal-text .modal-text-pass {
  padding: 10px 0px 10px 0px;
  border-left: 10px solid #a6d8cb;
  border-bottom: 2px solid #a6d8cb;
  margin-bottom: 5px;
  margin-top: 5px;
}

.modal .modal-text .modal-text-pass-field {
  background: white;
  margin: 0;
  padding: 5px 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  color: #7a7b82;
  line-height: 1.5;
}

.modal .modal-text .modal-text-button {
  text-decoration: none;
  display: inline-block;
  padding: 12px 40px;
  margin: 10px 20px;
  border-radius: 30px;
  background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
  background-position: 100% 0;
  background-size: 200% 200%;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: white;
  -webkit-box-shadow: 0 16px 32px 0 rgba(0, 40, 120, 0.35);
          box-shadow: 0 16px 32px 0 rgba(0, 40, 120, 0.35);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.modal .modal-text .modal-text-button:hover {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
          box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}

.modal .modal-text:before,
.modal .modal-text:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 10px;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #bce8ea), color-stop(50%, #efefe7));
  background: linear-gradient(90deg, #bce8ea 50%, #efefe7 50%);
  left: 25%;
}

.modal .modal-text:before {
  top: 15px;
}

.modal .modal-text:after {
  bottom: 15px;
}

.modal .modal-close {
  margin: 100px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .modal-close .modal-close-button {
  cursor: pointer;
  position: relative;
  height: 68px;
  width: 50px;
}

.modal .modal-close .modal-close-leftright {
  height: 4px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: #337ab7;
  border-radius: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.modal .modal-close .modal-close-rightleft {
  height: 4px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: #337ab7;
  border-radius: 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.modal .modal-close .modal-close-btn {
  margin: 54px 0 0 -5px;
  position: absolute;
  color: #337ab7;
  font-family: Tahoma, sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 0;
}

.modal .modal-close div:hover .modal-close-leftright {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #000;
}

.modal .modal-close div:hover .modal-close-rightleft {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #000;
}

.modal .modal-close div:hover .modal-close-btn {
  opacity: 1;
}

@media screen and (max-width: 1375px) {
  .news .news-bigblock {
    width: calc(100vw - 160px);
    overflow-y: scroll;
    height: 350px;
  }
}

@media screen and (max-width: 1024px) {
  header .search-panel .search {
    margin-left: 0;
    min-width: calc((100vw - 658px));
  }
  .banners {
    min-width: 100%;
    min-height: calc(100vw / 1024 * 450);
  }
  .banners .slider-wrapper {
    min-width: 100%;
    min-height: calc(100vw / 1024 * 450);
  }
  .banners .slider-wrapper img {
    width: 100%;
    min-height: calc(100vw / 1024 * 450);
  }
  .banners .imags {
    display: none;
  }
  .product-category .product-category-block-item {
    width: calc(100vw - 160px);
    overflow-y: scroll;
  }
  .catalog .catalog-big-block {
    width: calc(100vw - 160px);
    overflow-y: scroll;
  }
}

@media screen and (max-width: 756px) {
  header .search-panel .search {
    padding-left: 0;
  }
}

@media screen and (max-width: 750px) {
  header .search-panel .search {
    display: none;
  }
  header .search-panel .search-icon {
    margin-left: 5px;
    min-height: 50px;
    min-width: 50px;
  }
}

@media screen and (max-width: 720px) {
  .product-category .product-category-block-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 269px;
    overflow-x: scroll;
  }
  .catalog .catalog-big-block {
    overflow-x: scroll;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 460px;
  }
  .news .news-bigblock {
    overflow-x: scroll;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news .news-bigblock .news-block {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 620px) {
  header .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: calc(100vw - 50px - 185px - 160px);
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 570px) {
  .product-category .product-category-name {
    width: calc(100vw - 160px);
    text-align: center;
  }
  .product-category .product-category-block-item .product-category-item .product-category-item-img {
    min-width: calc(100vw - 160px);
  }
  .catalog .catalog-name {
    min-height: 33px;
    text-align: center;
  }
}

@media screen and (max-width: 532px) {
  .news .news-bigblock {
    height: 50vw;
  }
  .news .news-bigblock .news-block {
    width: calc(100vw - 160px);
  }
  .news .news-bigblock .news-block .news-block-middle .news-block-middle-little {
    margin-top: 15px;
    margin-left: 0px;
    width: calc(100vw - 160px);
  }
  .news .news-bigblock .news-block .news-block-middle .news-block-middle-content {
    margin-top: 15px;
    width: calc(100vw - 160px);
  }
  .news .news-bigblock .news-block .news-block-middle .news-block-middle-content .news-block-middle-content-secondline {
    width: calc(100vw - 160px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 0px;
  }
  .news .news-bigblock .news-block .news-block-middle .news-block-middle-content .news-block-middle-content-thirdline {
    width: calc(100vw - 160px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 0px;
  }
}

@media screen and (max-width: 456px) {
  header .logo {
    min-width: calc((100vw - 238px));
    min-height: 10px;
    margin-top: -60px;
    margin-left: -16px;
  }
  header .logo img {
    width: 100%;
  }
  header .search-panel .search-icon {
    margin-left: -110px;
    margin-top: 50px;
  }
  header .icons {
    margin-left: -20px;
  }
}

@media screen and (max-width: 402px) {
  .product-category .product-category-block-item {
    margin-top: 50px;
  }
  .catalog .catalog-big-block {
    margin-top: 70px;
    height: calc(100vw - 50px);
  }
  .catalog .catalog-big-block .catalog-block {
    width: calc(100vw - 160px);
    min-height: calc(100vw - 160px);
  }
  .catalog .catalog-big-block .catalog-block .catalog-block-little {
    min-width: calc(100vw - 160px);
    min-height: calc(100vw - 160px);
  }
  .catalog .catalog-big-block .catalog-block .catalog-block-little .catalog-block-img {
    min-width: calc(100vw - 160px);
    min-height: calc(100vw - 160px);
  }
  .catalog .catalog-big-block .catalog-block .catalog-block-little .catalog-block-img img {
    width: 100%;
    height: 100%;
  }
  .catalog .catalog-big-block .catalog-block .catalog-block-little .catalog-block-fav {
    display: none;
  }
  .catalog .catalog-big-block .catalog-block .catalog-block-little .catalog-block-text {
    display: none;
  }
  .catalog .catalog-big-block .catalog-block .catalog-block-little .catalog-block-price {
    display: none;
  }
}

.wrap {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefe7), color-stop(50%, #bce8ea));
  background: linear-gradient(90deg, #efefe7 50%, #bce8ea 50%);
  position: relative;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap:before,
.wrap:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 10px;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #bce8ea), color-stop(50%, #efefe7));
  background: linear-gradient(90deg, #bce8ea 50%, #efefe7 50%);
  left: 25%;
}

.wrap:before {
  top: 15px;
}

.wrap:after {
  bottom: 15px;
}

.wrap p {
  background: white;
  margin: 0;
  padding: 50px 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  color: #7a7b82;
  line-height: 1.5;
}
