@import "reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");

body {
   margin: 30px 75px 0px 85px;
   background: #fafafa;
}

header {
   min-width: calc(100vw - 160px);
   min-height: 110px;
   background: #32656a;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;

   .logo {
      margin-left: 1px;
      min-width: 184px;
      min-height: 56px;
   }

   .search-panel {
      display: flex;
      flex-direction: row;

      .search {
         margin-left: 76px;
         min-width: calc((100vw - 658px) * 0.85);
         min-height: 56px;
         background: #ffffff;
         border-radius: 5px;
         display: flex;
         flex-direction: row;
         align-items: center;
         padding-left: 50.96px;
         font-family: Roboto;
         font-style: normal;
         font-weight: normal;
         font-size: 20px;
         line-height: 23px;
         color: #000000;
      }

      .search-icon {
         margin-left: -32px;
         width: 54px;
         background: #fdaa4b;
         border-radius: 5px;
         display: flex;
         justify-content: center;
         align-items: center;
      }
   }

   .icons {
      display: flex;
      flex-direction: row;
      padding-right: 15px;
      padding-left: 77px;
      min-width: 135px;
      justify-content: space-between;
      align-items: center;

      .personal {
         min-width: 29px;
         min-height: 28.43px;
         background: url(/img/personal.png);
      }

      .favorites {
         min-width: 30px;
         min-height: 27.87px;
         background: url(/img/favorites.png);
      }

      .truck {
         min-width: 30px;
         min-height: 30px;
         background: url(/img/truck.png);
      }
   }
}

.banners {
   display: flex;
   min-width: calc(100vw - 160px);
   min-height: 450px;
   margin-top: 27px;

   .slider-wrapper {
      width: calc((100vw - 160px) * 0.75);
      height: (100vw * 0.35);
      .myslide {
         width: 100%;
         height: 100%;
         .slider-item-pack-1 {
            img {
               height: 100%;
               width: 100%;
            }
         }
      }
   }

   .imags {
      width: calc((100vw - 160px) * 0.25);
      min-height: 450px;
      margin-left: 15.6px;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
}

.product-category {
   min-width: calc(100vw - 160px);
   min-height: 293px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 60px;

   .product-category-name {
      width: 279.88px;
      height: 33px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 33px;
      color: #000000;
   }

   .product-category-block-item {
      min-width: calc(100vw - 160px);
      display: flex;
      justify-content: space-between;
      .product-category-item {
         margin-top: 60px;

         .product-category-item-img {
            min-width: 176.61px;
            height: 175px;
            background: #f5f5f5;
            border-radius: 145px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
               width: 137.19px;
               height: 145px;
               border-radius: 145px;
            }
         }

         .product-category-item-text {
            text-align: center;
            margin-top: 15px;
            height: 19px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
         }
      }
   }
}

.catalog {
   margin-top: 109px;
   min-width: calc(100vw - 160px);
   min-height: 493px;
   display: flex;
   flex-direction: column;
   align-items: center;

   .catalog-name {
      height: 33px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 33px;
      color: #000000;
   }
   .catalog-big-block {
      width: calc(100vw - 160px);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .catalog-block {
         margin-top: 60px;
         background-color: #fff;
         width: 291.08px;
         min-height: 400px;
         display: flex;
         flex-direction: column;
         text-align: center;
         align-items: center;

         .catalog-block-little {
            min-width: 242.57px;
            .catalog-block-img {
               margin-top: 20px;
               min-width: 242.57px;
               min-height: 260px;
            }
            .catalog-block-fav {
               width: 121.285px;
               margin-top: 12px;
               display: flex;
               justify-content: space-between;

               img {
                  width: 11.15px;
                  height: 12px;
               }
            }
            .catalog-block-text {
               margin-top: 11px;
               height: 21px;
               font-family: Roboto;
               font-style: normal;
               font-weight: normal;
               font-size: 18px;
               line-height: 21px;
               color: #000000;

               p {
                  text-overflow: ellipsis;
                  width: 239px;
                  overflow: hidden;
                  white-space: nowrap;
               }
            }
            .catalog-block-price {
               margin-top: 12px;
               width: 68px;
               height: 21px;
               font-family: Roboto;
               font-style: normal;
               font-weight: bold;
               font-size: 18px;
               line-height: 21px;
               color: #000000;
               display: flex;
               align-items: center;

               .catalog-block-price-min {
                  margin-left: 9px;
                  width: 51px;
                  height: 16px;
                  font-family: Roboto;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 16px;
                  color: #999999;
                  text-decoration: line-through;
               }
            }
         }
      }
   }
}

.news {
   margin-top: 60px;
   width: calc(100vw - 160px);
   min-height: 493px;
   display: flex;
   flex-direction: column;
   align-items: center;
   .news-name {
      width: 156px;
      height: 33px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 33px;
      color: #000000;
   }
   .news-bigblock {
      margin-top: 63px;
      width: calc(100vw - 160px);
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .news-block {
         display: flex;
         justify-content: center;
         width: 405px;
         height: 270px;

         .news-block-middle {
            min-width: 33%;
            .news-block-middle-little {
               margin-top: 19px;
               margin-left: 4px;
               width: 124px;
               height: 40px;
               background: #fdaa4b;
               border-radius: 5px;
               display: flex;
               justify-content: center;
               align-items: center;

               p {
                  height: 16px;
                  font-family: Roboto;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 16px;
                  color: #000000;
               }
            }
            .news-block-middle-content {
               margin-top: 147px;
               width: 375px;
               height: 125px;
               background: #ffffff;
               box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.45);

               .news-block-middle-content-firstline {
                  display: flex;

                  img {
                     margin-top: 22px;
                     margin-left: 14px;
                     width: 18px;
                     height: 18px;
                  }

                  p {
                     margin-top: 22px;
                     margin-left: 7px;
                     width: 84px;
                     height: 16px;
                     font-family: Roboto;
                     font-style: normal;
                     font-weight: normal;
                     font-size: 14px;
                     line-height: 16px;
                     color: #32656a;
                  }
               }
               .news-block-middle-content-secondline {
                  margin-top: 12px;
                  margin-left: 14px;
                  width: 332px;
                  height: 21px;
                  font-family: Roboto;
                  font-style: normal;
                  font-weight: bold;
                  font-size: 18px;
                  line-height: 21px;
                  color: #000000;
               }
               .news-block-middle-content-thirdline {
                  margin-top: 9px;
                  margin-left: 14px;
                  width: 348px;
                  height: 32px;
                  font-family: Roboto;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 16px;
                  color: #32656a;
                  overflow: hidden;
               }
            }
         }
      }
   }
}
// .active {
//       display: none;
//    }

.modal {
   height: 100vh;
   width: 100vw;
   background: rgba(143, 154, 158, 0.9);
   position: absolute;
   z-index: 9999;
   margin-left: -85px;
   display: flex;
   justify-content: center;
   opacity: 0;
   transition: opacity 2s;
   transform: translate(0px, -110%);

   .modal-welcome{
     font-size: 200px;
   }
   .modal-text {
      margin-top: 110px;
      background-color: white;
      width: 300px;
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: linear-gradient(90deg, #efefe7 50%, #bce8ea 50%);
      position: relative;
      padding: 40px;
      box-sizing: border-box;

      .modal-text-login {
         padding: 10px 0px 10px 0px;
         border-left: 10px solid #a6d8cb;
         border-bottom: 2px solid #a6d8cb;
         margin-bottom: 5px;
      }
      .modal-text-login-field {
         background: white;
         margin: 0;
         padding: 5px 0;
         text-align: center;
         font-family: "Open Sans", sans-serif;
         font-style: italic;
         color: #7a7b82;
         line-height: 1.5;
      }
      .modal-text-pass {
         padding: 10px 0px 10px 0px;
         border-left: 10px solid #a6d8cb;
         border-bottom: 2px solid #a6d8cb;
         margin-bottom: 5px;
         margin-top: 5px;
      }
      .modal-text-pass-field {
         background: white;
         margin: 0;
         padding: 5px 0;
         text-align: center;
         font-family: "Open Sans", sans-serif;
         font-style: italic;
         color: #7a7b82;
         line-height: 1.5;
      }
      .modal-text-button {
         text-decoration: none;
         display: inline-block;
         padding: 12px 40px;
         margin: 10px 20px;
         border-radius: 30px;
         background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
         background-position: 100% 0;
         background-size: 200% 200%;
         font-family: "Montserrat", sans-serif;
         font-size: 24px;
         font-weight: 300;
         color: white;
         box-shadow: 0 16px 32px 0 rgba(0, 40, 120, 0.35);
         transition: 0.5s;
      }
      .modal-text-button:hover {
         box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
         background-position: 0 0;
      }
   }

   .modal-text:before,
   .modal-text:after {
      content: "";
      position: absolute;
      width: 50%;
      height: 10px;
      background: linear-gradient(90deg, #bce8ea 50%, #efefe7 50%);
      left: 25%;
   }
   .modal-text:before {
      top: 15px;
   }
   .modal-text:after {
      bottom: 15px;
   }

   .modal-close {
      margin: 100px;
      margin-left: 10px;
      display: flex;
      justify-content: center;
   }
   .modal-close {
      .modal-close-button {
         cursor: pointer;
         position: relative;
         height: 68px;
         width: 50px;
      }
      .modal-close-leftright {
         height: 4px;
         width: 50px;
         position: absolute;
         margin-top: 24px;
         background-color: #337ab7;
         border-radius: 2px;
         transform: rotate(45deg);
         transition: all 0.3s ease-in;
      }

      .modal-close-rightleft {
         height: 4px;
         width: 50px;
         position: absolute;
         margin-top: 24px;
         background-color: #337ab7;
         border-radius: 2px;
         transform: rotate(-45deg);
         transition: all 0.3s ease-in;
      }

      .modal-close-btn {
         margin: 54px 0 0 -5px;
         position: absolute;
         color: #337ab7;
         font-family: Tahoma, sans-serif;
         font-size: 13px;
         font-weight: bold;
         text-transform: uppercase;
         transition: all 0.3s ease-in;
         opacity: 0;
      }

      div:hover {
         .modal-close-leftright {
            transform: rotate(-45deg);
            background-color: #000;
         }
         .modal-close-rightleft {
            transform: rotate(45deg);
            background-color: #000;
         }
         .modal-close-btn {
            opacity: 1;
         }
      }
   }
}

@media screen and (max-width: 1375px) {
   .news {
      .news-bigblock {
         width: calc(100vw - 160px);
         overflow-y: scroll;
         height: 350px;
      }
   }
}

@media screen and (max-width: 1024px) {
   header {
      .search-panel {
         .search {
            margin-left: 0;
            min-width: calc((100vw - 658px));
         }
      }
   }

   .banners {
      min-width: 100%;
      min-height: calc(100vw / 1024 * 450);

      .slider-wrapper {
         min-width: 100%;
         min-height: calc(100vw / 1024 * 450);
         img {
            width: 100%;
            min-height: calc(100vw / 1024 * 450);
         }
      }

      .imags {
         display: none;
      }
   }

   .product-category {
      .product-category-block-item {
         width: calc(100vw - 160px);
         overflow-y: scroll;
      }
   }

   .catalog {
      .catalog-big-block {
         width: calc(100vw - 160px);
         overflow-y: scroll;
      }
   }
}

@media screen and (max-width: 756px) {
   header {
      .search-panel {
         .search {
            padding-left: 0;
         }
      }
   }
}

@media screen and (max-width: 750px) {
   header {
      .search-panel {
         .search {
            display: none;
         }

         .search-icon {
            margin-left: 5px;
            min-height: 50px;
            min-width: 50px;
         }
      }
   }
}

@media screen and (max-width: 720px) {
   .product-category {
      .product-category-block-item {
         flex-direction: column;
         align-items: center;
         height: 269px;
         overflow-x: scroll;
      }
   }

   .catalog {
      .catalog-big-block {
         overflow-x: scroll;
         flex-direction: column;
         align-items: center;
         height: 460px;
      }
   }

   .news {
      .news-bigblock {
         overflow-x: scroll;
         flex-direction: column;
         align-items: center;

         .news-block {
            margin-bottom: 70px;
         }
      }
   }
}

@media screen and (max-width: 620px) {
   header {
      .icons {
         display: flex;
         flex-direction: column;
         min-width: calc(100vw - 50px - 185px - 160px);
         padding-right: 0px;
         padding-left: 0px;
      }
   }
}

@media screen and (max-width: 570px) {
   .product-category {
      .product-category-name {
         width: calc(100vw - 160px);
         text-align: center;
      }
      .product-category-block-item {
         .product-category-item {
            .product-category-item-img {
               min-width: calc(100vw - 160px);
            }
         }
      }
   }

   .catalog {
      .catalog-name {
         min-height: 33px;
         text-align: center;
      }
   }
}

@media screen and (max-width: 532px) {
   .news {
      .news-bigblock {
         height: 50vw;
         .news-block {
            width: calc(100vw - 160px);
            .news-block-middle {
               .news-block-middle-little {
                  margin-top: 15px;
                  margin-left: 0px;
                  width: calc(100vw - 160px);
               }
               .news-block-middle-content {
                  margin-top: 15px;
                  width: calc(100vw - 160px);
                  .news-block-middle-content-secondline {
                     width: calc(100vw - 160px);
                     white-space: nowrap;
                     overflow: hidden;
                     text-overflow: ellipsis;
                     margin-left: 0px;
                  }
                  .news-block-middle-content-thirdline {
                     width: calc(100vw - 160px);
                     white-space: nowrap;
                     overflow: hidden;
                     text-overflow: ellipsis;
                     margin-left: 0px;
                  }
               }
            }
         }
      }
   }
}

@media screen and (max-width: 456px) {
   header {
      .logo {
         min-width: calc((100vw - 238px));
         min-height: 10px;
         margin-top: -60px;
         margin-left: -16px;
         img {
            width: 100%;
         }
      }
      .search-panel {
         .search-icon {
            margin-left: -110px;
            margin-top: 50px;
         }
      }
      .icons {
         margin-left: -20px;
      }
   }
}

@media screen and (max-width: 402px) {
   .product-category {
      .product-category-block-item {
         margin-top: 50px;
      }
   }
   .catalog {
      .catalog-big-block {
         margin-top: 70px;
         height: calc(100vw - 50px);
         .catalog-block {
            width: calc(100vw - 160px);
            min-height: calc(100vw - 160px);
            .catalog-block-little {
               min-width: calc(100vw - 160px);
               min-height: calc(100vw - 160px);
               .catalog-block-img {
                  min-width: calc(100vw - 160px);
                  min-height: calc(100vw - 160px);
                  img {
                     width: 100%;
                     height: 100%;
                  }
               }
               .catalog-block-fav {
                  display: none;
               }
               .catalog-block-text {
                  display: none;
               }
               .catalog-block-price {
                  display: none;
               }
            }
         }
      }
   }
}

.wrap {
   background: linear-gradient(90deg, #efefe7 50%, #bce8ea 50%);
   position: relative;
   padding: 40px;
   box-sizing: border-box;
}
.wrap:before,
.wrap:after {
   content: "";
   position: absolute;
   width: 50%;
   height: 10px;
   background: linear-gradient(90deg, #bce8ea 50%, #efefe7 50%);
   left: 25%;
}
.wrap:before {
   top: 15px;
}
.wrap:after {
   bottom: 15px;
}
.wrap p {
   background: white;
   margin: 0;
   padding: 50px 0;
   text-align: center;
   font-family: "Open Sans", sans-serif;
   font-style: italic;
   color: #7a7b82;
   line-height: 1.5;
}
